[user]
    name =
    email =
[core]
    excludesfile = /Users/user-name/.gitignore_global
    ignorecase = false
[merge]
    tool = opendiff
[pull]
    rebase = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
